$naverColor : #03c75a;

@mixin after($width,$height,$back){
    display: block;
    content: '';
    width: $width;
    height: $height;
    position: absolute;
    background: $back;
}
@mixin background($url){
    background: url("../img/"+$url)no-repeat center center;
}
@mixin scrollAni($t, $d){
    animation: scrollAni+$t .7s $d infinite alternate-reverse linear;
}
