@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  vertical-align: baseline;
  color: #1c1b20;
  font-size: 16px; }

a {
  display: inline-block;
  text-decoration: none; }

span {
  display: inline-block; }

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/ }

.wrap {
  width: 100%;
  position: relative; }

.header {
  width: 100%;
  position: fixed; }
  .header__wrapper {
    width: 100%;
    padding: 0 80px;
    box-sizing: border-box;
    position: relative; }
    .header__wrapper h1 {
      width: 169px;
      height: 197px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("../img/logo_bg.png") no-repeat center center;
      z-index: 100; }
    .header__wrapper .gnb {
      width: 100%;
      height: 67px;
      background: #0407128c;
      position: absolute;
      left: 0;
      top: 55px;
      z-index: 90; }
      .header__wrapper .gnb__depth1 {
        width: 94%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .header__wrapper .gnb__depth1 > li {
          width: 12%;
          height: 100%;
          position: relative; }
          .header__wrapper .gnb__depth1 > li.hover {
            background: #001f50; }
          .header__wrapper .gnb__depth1 > li .gnb__depth1__list {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            line-height: 67px;
            color: #fff;
            transition: .2s ease-in-out; }
        .header__wrapper .gnb__depth1 .gnb__depth2 {
          width: 100%;
          display: none;
          position: absolute;
          left: 0;
          top: 67px;
          background: rgba(0, 31, 80, 0.8);
          border-radius: 0 0 10px 10px; }
          .header__wrapper .gnb__depth1 .gnb__depth2 li {
            text-align: center; }
            .header__wrapper .gnb__depth1 .gnb__depth2 li a {
              padding: 10px 0;
              font-size: 15px;
              line-height: 33px;
              color: #fff; }
              .header__wrapper .gnb__depth1 .gnb__depth2 li a:hover {
                text-decoration: underline; }
      .header__wrapper .gnb .search {
        position: absolute;
        right: 28px;
        top: 20px;
        z-index: 91; }
        .header__wrapper .gnb .search button {
          width: 28px;
          height: 28px;
          background: url("../img/search_icon.png") no-repeat center center; }
        .header__wrapper .gnb .search__page {
          display: none; }
      .header__wrapper .gnb .language {
        width: 90px;
        height: 25px;
        background: #040712;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: -40px;
        text-align: center;
        border-radius: 3px;
        transition: .3s; }
        .header__wrapper .gnb .language:hover {
          background: #131944; }
        .header__wrapper .gnb .language img {
          width: 13px;
          height: 13px;
          vertical-align: middle; }
        .header__wrapper .gnb .language span {
          margin-left: 8px;
          color: #fff;
          line-height: 25px;
          font-size: 12px; }

.contents {
  width: 100%; }
  .contents .section {
    width: 100%;
    height: 100vh;
    overflow: hidden; }

.section.page1 {
  background: url("../img/ncov_main_bg.jpg") no-repeat center center;
  padding: 160px 0;
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  .section.page1::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/ }
  .section.page1 .page1__table {
    width: 1480px;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background: #213365; }
    .section.page1 .page1__table__left {
      width: 280px;
      height: 1190px;
      background: url("../img/JJXWGQKCGP158640644386122.png") no-repeat center center; }
    .section.page1 .page1__table__right {
      width: 1200px;
      display: flex;
      flex-direction: column; }
      .section.page1 .page1__table__right .covid__title {
        height: 104px;
        padding: 16px 40px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between; }
        .section.page1 .page1__table__right .covid__title .covid__status {
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .section.page1 .page1__table__right .covid__title .covid__status__title {
            position: relative; }
            .section.page1 .page1__table__right .covid__title .covid__status__title span {
              margin-left: 30px;
              color: #fff;
              font-weight: 500; }
            .section.page1 .page1__table__right .covid__title .covid__status__title::after {
              display: block;
              content: '';
              width: 20px;
              height: 20px;
              position: absolute;
              background: url("../img/ico_siren.png");
              left: 0px;
              top: 0; }
          .section.page1 .page1__table__right .covid__title .covid__status__content__1 {
            background: #ebc055;
            color: #09143e;
            padding: 12px;
            font-weight: 700;
            font-size: 17px; }
          .section.page1 .page1__table__right .covid__title .covid__status__content__2 {
            background-color: #09143e;
            padding: 13px;
            position: relative; }
            .section.page1 .page1__table__right .covid__title .covid__status__content__2:after {
              display: block;
              content: '';
              width: 2px;
              height: 16px;
              position: absolute;
              background: #fff;
              left: 50%;
              top: 14px; }
            .section.page1 .page1__table__right .covid__title .covid__status__content__2 span, .section.page1 .page1__table__right .covid__title .covid__status__content__2 em {
              font-weight: 500;
              font-size: 15px; }
            .section.page1 .page1__table__right .covid__title .covid__status__content__2 span {
              padding-left: 18px;
              position: relative;
              color: #fff; }
              .section.page1 .page1__table__right .covid__title .covid__status__content__2 span::before {
                display: block;
                content: '';
                width: 14px;
                height: 14px;
                position: absolute;
                background: none;
                left: 0;
                top: 0; }
              .section.page1 .page1__table__right .covid__title .covid__status__content__2 span:first-of-type {
                margin-right: 30px; }
                .section.page1 .page1__table__right .covid__title .covid__status__content__2 span:first-of-type:before {
                  background: url("../img/location.png") no-repeat center center; }
              .section.page1 .page1__table__right .covid__title .covid__status__content__2 span:last-of-type:before {
                background: url("../img/airplane.png") no-repeat center center; }
              .section.page1 .page1__table__right .covid__title .covid__status__content__2 span em {
                display: inline;
                padding-left: 8px;
                color: #ebc055;
                font-style: normal; }
          .section.page1 .page1__table__right .covid__title .covid__status__content__3 {
            background: #40d6e9;
            color: #09143e;
            padding: 12px;
            font-weight: 700;
            font-size: 17px;
            margin-left: 10px; }
          .section.page1 .page1__table__right .covid__title .covid__status__content__4 {
            background-color: #09143e;
            color: #40d6e9;
            padding: 13px;
            font-weight: 500;
            font-size: 15px; }
        .section.page1 .page1__table__right .covid__title .covid__date {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          text-align: right; }
          .section.page1 .page1__table__right .covid__title .covid__date p {
            color: #fff;
            font-weight: 500; }
          .section.page1 .page1__table__right .covid__title .covid__date a {
            width: 230px;
            height: 30px;
            padding: 3px 10px;
            box-sizing: border-box;
            background: #162149;
            color: #fff;
            font-size: 13px;
            line-height: 21px;
            font-weight: 500;
            position: relative; }
            .section.page1 .page1__table__right .covid__title .covid__date a:after {
              display: block;
              content: '';
              width: 17px;
              height: 17px;
              position: absolute;
              background: none;
              background: url("../img/rok.png") no-repeat center center;
              left: 5px;
              top: 5px; }
      .section.page1 .page1__table__right .covid__tab {
        width: 100%;
        height: 806px;
        background: #09153f;
        border-radius: 15px 15px 0 0;
        overflow: hidden; }
        .section.page1 .page1__table__right .covid__tab__menu {
          width: 100%;
          display: flex;
          overflow: hidden;
          background: #213365; }
          .section.page1 .page1__table__right .covid__tab__menu li {
            width: 50%;
            height: 52px;
            border-top: 2px solid #95b3d7;
            color: #fff;
            border-radius: 15px 15px 0 0;
            font-size: 17px;
            font-weight: 500;
            background: #09153f;
            line-height: 52px;
            text-align: center;
            cursor: pointer; }
            .section.page1 .page1__table__right .covid__tab__menu li:last-of-type {
              background: #2c3d6c;
              border-top: none; }
        .section.page1 .page1__table__right .covid__tab__contents {
          background: #060f2c;
          width: 1132px;
          height: 535px;
          margin: 30px 34px;
          padding: 20px;
          border-radius: 10px;
          box-sizing: border-box; }
          .section.page1 .page1__table__right .covid__tab__contents img {
            width: 100%; }
        .section.page1 .page1__table__right .covid__tab__info {
          width: 1132px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between; }
          .section.page1 .page1__table__right .covid__tab__info li {
            cursor: pointer; }
      .section.page1 .page1__table__right .covid__newsroom {
        width: 100%;
        height: 280px; }
        .section.page1 .page1__table__right .covid__newsroom__list {
          width: 100%;
          height: 100%;
          display: flex; }
          .section.page1 .page1__table__right .covid__newsroom__list > li {
            width: 30%;
            height: 100%; }
            .section.page1 .page1__table__right .covid__newsroom__list > li:first-of-type {
              width: 38%; }
          .section.page1 .page1__table__right .covid__newsroom__list__1 {
            padding: 30px 0 30px 20px;
            box-sizing: border-box; }
            .section.page1 .page1__table__right .covid__newsroom__list__1__title {
              display: flex;
              justify-content: space-between; }
              .section.page1 .page1__table__right .covid__newsroom__list__1__title h2 {
                font-size: 22px;
                color: #FFF; }
              .section.page1 .page1__table__right .covid__newsroom__list__1__title > span {
                color: #aaa;
                font-size: 14px;
                font-weight: 400;
                cursor: pointer; }
            .section.page1 .page1__table__right .covid__newsroom__list__1__box {
              margin-top: 20px;
              padding: 15px;
              border-radius: 8px;
              background: #fff; }
              .section.page1 .page1__table__right .covid__newsroom__list__1__box ul li a {
                padding: 7px 0;
                text-overflow: ellipsis;
                font-size: 15px; }
              .section.page1 .page1__table__right .covid__newsroom__list__1__box ul li:first-of-type {
                font-weight: 500; }
              .section.page1 .page1__table__right .covid__newsroom__list__1__box ul li:nth-of-type(3) {
                font-weight: 500; }
          .section.page1 .page1__table__right .covid__newsroom__list__2 p {
            width: 320px;
            margin: 72px auto 0;
            position: relative; }
            .section.page1 .page1__table__right .covid__newsroom__list__2 p:after {
              display: block;
              content: '';
              width: 100%;
              height: 100%;
              position: absolute;
              background: none;
              left: 0;
              top: 0;
              background: url("../img/LKGFMQLUYB158382236999122.png") no-repeat center center;
              cursor: pointer; }
            .section.page1 .page1__table__right .covid__newsroom__list__2 p img {
              width: 100%; }
          .section.page1 .page1__table__right .covid__newsroom__list__3 {
            padding: 30px 0;
            box-sizing: border-box; }
            .section.page1 .page1__table__right .covid__newsroom__list__3__title {
              display: flex;
              justify-content: space-between; }
              .section.page1 .page1__table__right .covid__newsroom__list__3__title h2 {
                font-size: 22px;
                color: #FFF; }
              .section.page1 .page1__table__right .covid__newsroom__list__3__title > span {
                color: #aaa;
                font-size: 14px;
                font-weight: 400;
                cursor: pointer; }
            .section.page1 .page1__table__right .covid__newsroom__list__3__box {
              margin-top: 20px;
              padding: 15px;
              border-radius: 8px;
              background: #fff; }
              .section.page1 .page1__table__right .covid__newsroom__list__3__box ul li a {
                padding: 7px 0;
                text-overflow: ellipsis;
                font-size: 15px; }
              .section.page1 .page1__table__right .covid__newsroom__list__3__box ul li:first-of-type {
                font-weight: 500; }
              .section.page1 .page1__table__right .covid__newsroom__list__3__box ul li:nth-of-type(4) {
                font-weight: 500; }

.section__wrap {
  width: 100%;
  height: 100%;
  position: relative; }
  .section__wrap ul {
    width: 100%;
    height: 100%;
    position: relative; }
    .section__wrap ul li {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      z-index: -1; }
      .section__wrap ul li img:first-of-type {
        width: 100%; }
      .section__wrap ul li img:last-of-type {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%); }
  .section__wrap .news {
    width: 1366;
    height: 79px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 50; }
    .section__wrap .news__bar {
      position: absolute;
      right: 0;
      bottom: -2px; }
      .section__wrap .news__bar p {
        position: absolute;
        right: 289px;
        top: 36px;
        color: #fff;
        font-size: 30px;
        font-weight: 400; }
    .section__wrap .news__date {
      position: absolute;
      right: 0;
      bottom: -2px; }
      .section__wrap .news__date h3 {
        position: absolute;
        bottom: 17px;
        right: 56px;
        font-size: 20px;
        letter-spacing: 0.5px;
        color: #14204c;
        font-weight: 400; }
  .section__wrap .controls {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    bottom: 10px; }
    .section__wrap .controls__pause {
      width: 26px;
      height: 26px;
      cursor: pointer;
      background-image: url("../img/pauseplay_icon.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 top; }
      .section__wrap .controls__pause.play {
        background-position: 0 bottom; }
    .section__wrap .controls__button {
      display: flex;
      margin-left: 44px; }
      .section__wrap .controls__button__wrap {
        margin: 0 6px;
        padding: 10px 0;
        vertical-align: middle; }
        .section__wrap .controls__button__wrap.active button {
          border: 1px solid #333;
          background-color: #fff;
          cursor: default; }
        .section__wrap .controls__button__wrap button {
          width: 55px;
          height: 9px;
          vertical-align: middle;
          border: 1px solid #858585;
          border-radius: 5px;
          background: rgba(255, 255, 255, 0.3);
          cursor: pointer; }
  .section__wrap .scroll__down {
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%); }
    .section__wrap .scroll__down__arrows {
      width: 100%;
      height: 30px;
      position: relative; }
      .section__wrap .scroll__down__arrows span {
        width: 25px;
        height: 11px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: url("../img/scroll_arrow.png") no-repeat center center/contain; }
        .section__wrap .scroll__down__arrows span:first-of-type {
          top: 0;
          animation: scrollAni1 0.7s 0s infinite alternate-reverse linear; }
        .section__wrap .scroll__down__arrows span:nth-of-type(2) {
          top: 6px;
          animation: scrollAni2 0.7s 0.2s infinite alternate-reverse linear; }
        .section__wrap .scroll__down__arrows span:nth-of-type(3) {
          top: 12px;
          animation: scrollAni3 0.7s 0.4s infinite alternate-reverse linear; }
        .section__wrap .scroll__down__arrows span:nth-of-type(4) {
          top: 18px;
          animation: scrollAni2 0.7s 0.6s infinite alternate-reverse linear; }
@keyframes scrollAni1 {
  0% {
    opacity: .2; }
  50% {
    opacity: 0; }
  100% {
    opacity: .3; } }
@keyframes scrollAni2 {
  0% {
    opacity: .6; }
  50% {
    opacity: .3; }
  100% {
    opacity: .6; } }
@keyframes scrollAni3 {
  0% {
    opacity: .9; }
  50% {
    opacity: .6; }
  100% {
    opacity: .9; } }
    .section__wrap .scroll__down__text {
      font-size: 12px;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43); }

.footer__gnb {
  width: 100%;
  height: 301px;
  padding: 50px 0;
  box-sizing: border-box;
  background: #222433;
  border-top: 1px solid #7c7c7c;
  border-bottom: 1px solid #7c7c7c; }
  .footer__gnb .gnb__depth1 {
    width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex; }
    .footer__gnb .gnb__depth1 > li {
      width: 20%;
      display: flex;
      flex-direction: column; }
      .footer__gnb .gnb__depth1 > li h3 {
        width: 150px;
        display: inline-block;
        margin: 0 auto;
        font-size: 18px;
        color: #fff; }
        .footer__gnb .gnb__depth1 > li h3 a {
          width: 150px;
          display: inline-block;
          margin: 12px auto 0;
          font-size: 16px;
          color: #fff; }
      .footer__gnb .gnb__depth1 > li .gnb__depth2 {
        width: 150px;
        display: inline-block;
        margin: 10px auto 0; }
        .footer__gnb .gnb__depth1 > li .gnb__depth2 li {
          padding: 3px 0; }
          .footer__gnb .gnb__depth1 > li .gnb__depth2 li a {
            font-size: 12px;
            color: #cfcfd0; }
            .footer__gnb .gnb__depth1 > li .gnb__depth2 li a:hover {
              text-decoration: underline; }
.footer__contact {
  background: #282828; }
  .footer__contact__wrap {
    width: 1280px;
    height: 280px;
    margin: 0 auto;
    padding: 60px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__contact__sns {
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .footer__contact__sns h2 {
      text-align: center;
      opacity: .2; }
    .footer__contact__sns__list {
      width: 160px;
      margin: 15px auto 0;
      display: flex;
      justify-content: space-around; }
      .footer__contact__sns__list li {
        width: 20px;
        height: 20px;
        background-image: url("../img/footer_sns.png");
        background-repeat: no-repeat;
        background-position: left 0;
        opacity: .2; }
        .footer__contact__sns__list li:hover {
          opacity: 1; }
        .footer__contact__sns__list li:nth-of-type(2) {
          background-position: left -20px; }
        .footer__contact__sns__list li:nth-of-type(3) {
          background-position: left -40px; }
        .footer__contact__sns__list li:nth-of-type(4) {
          background-position: left -60px; }
        .footer__contact__sns__list li:nth-of-type(5) {
          background-position: left -80px; }
  .footer__contact__info {
    width: 470px; }
    .footer__contact__info h2 {
      margin-bottom: 20px;
      font-size: 18px;
      color: #fff; }
    .footer__contact__info ul li {
      height: 40px; }
      .footer__contact__info ul li span {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background-image: url("../img/icon_contact.png");
        background-repeat: no-repeat;
        background-position: left 0; }
      .footer__contact__info ul li p {
        display: inline-block;
        text-indent: 20px;
        line-height: 40px;
        font-size: 12px;
        color: #959595; }
      .footer__contact__info ul li:nth-of-type(2) span {
        background-position: left -20px; }
      .footer__contact__info ul li:nth-of-type(3) span {
        background-position: left -40px; }
  .footer__contact__menu {
    width: 40%; }
    .footer__contact__menu__list {
      display: flex; }
      .footer__contact__menu__list li {
        margin-left: 14px;
        position: relative; }
        .footer__contact__menu__list li:first-of-type {
          margin-left: 0; }
          .footer__contact__menu__list li:first-of-type:before {
            display: none; }
        .footer__contact__menu__list li:before {
          display: block;
          content: '';
          width: 1px;
          height: 12px;
          position: absolute;
          background: #dcdcdc;
          left: -7px;
          top: calc(50% - 6px); }
        .footer__contact__menu__list li a {
          font-size: 14px;
          color: #dcdcdc; }
    .footer__contact__menu__tip {
      margin: 30px 0 6px; }
      .footer__contact__menu__tip p {
        font-size: 12px;
        line-height: 20px;
        color: #959595;
        white-space: pre-line; }
.footer__copyright p {
  width: 100%;
  height: 30px;
  padding: 10px 0;
  background: #212121;
  text-align: center;
  color: #959595;
  line-height: 30px;
  font-size: 12px; }

.navigation {
  height: 100px;
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .navigation.page_start .navigation__prev {
    visibility: hidden; }
  .navigation.page_end .navigation__next {
    visibility: hidden; }
  .navigation__prev {
    width: 26px;
    height: 15px; }
    .navigation__prev a {
      width: 100%;
      height: 100%;
      background: url("../img/page_navigator.png") no-repeat left top; }
      .navigation__prev a:hover {
        background: url("../img/page_navigator.png") no-repeat right top; }
  .navigation__num {
    width: 55px;
    display: flex;
    justify-content: space-between; }
    .navigation__num span {
      color: #fff;
      font-size: 22px;
      font-weight: 400; }
    .navigation__num__page {
      text-shadow: 2px 2px 1px #000; }
    .navigation__num__slash {
      opacity: .2; }
    .navigation__num__total {
      opacity: .2; }
  .navigation__next {
    width: 26px;
    height: 15px; }
    .navigation__next a {
      width: 100%;
      height: 100%;
      background: url("../img/page_navigator.png") no-repeat left bottom; }
      .navigation__next a:hover {
        background: url("../img/page_navigator.png") no-repeat right bottom; }

/*# sourceMappingURL=main.css.map */
