@import "reset";
@import "mixin";


body{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
}
.wrap{
    width: 100%;
    position: relative;
}
.header{
    width: 100%;
    position: fixed;
    &__wrapper{
        width: 100%;
        padding: 0 80px;
        box-sizing: border-box;
        position: relative;
        h1{
            width: 169px;
            height: 197px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @include background("logo_bg.png");
            z-index: 100;
        }
        .gnb{
            width: 100%;
            height: 67px;
            background: #0407128c;
            position: absolute;
            left: 0;
            top: 55px;
            z-index: 90;
            &__depth1{
                width: 94%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                >li{
                    width: 12%;
                    height: 100%;
                    position: relative;
                    &.hover{
                        background: rgb(0, 31, 80);
                    }
                    .gnb__depth1__list{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 67px;
                        color: #fff;
                        transition: .2s ease-in-out;

                    }
                }
                .gnb__depth2{
                    width: 100%;
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 67px;
                    background: rgba(0, 31, 80, 0.80);
                    border-radius: 0 0 10px 10px;
                    li{
                        text-align: center;
                        a{
                            padding: 10px 0;
                            font-size: 15px;
                            line-height: 33px;
                            color: #fff;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        

                    }
                }
            }
            .search{
                position: absolute;
                right: 28px;
                top: 20px;
                z-index: 91;
                button{
                    width: 28px;
                    height: 28px;
                    @include background("search_icon.png");
                }
                &__page{
                    display: none;
                }
            }
            .language{
                width: 90px;
                height: 25px;
                background: #040712;
                cursor: pointer;
                position: absolute;
                right: 15px;
                top: -40px;
                text-align: center;
                border-radius: 3px;
                transition: .3s;
                &:hover{
                    background: #131944;
                }
                img{
                    width: 13px;
                    height: 13px;
                    vertical-align: middle;
                }
                span{
                    margin-left: 8px;
                    color: #fff;
                    line-height: 25px;
                    font-size: 12px;
                }
            }
        }
    }
}
.contents{
    width: 100%;
    .section{
        width: 100%;
        height: 100vh;
        &.page1{
            @include background("ncov_main_bg.jpg");
            padding: 160px 0;
            box-sizing: border-box;
            overflow-y: scroll;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            &::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Opera*/
            }
            .page1__table{
                width: 1480px;
                margin: 0 auto;
                display: flex;
                border-radius: 10px;
                overflow: hidden;
                background: #213365;
                &__left{
                    width: 280px;
                    height: 1190px;
                    @include background("JJXWGQKCGP158640644386122.png");
                    img{

                    }
                }
                &__right{
                    width: 1200px;
                    display: flex;
                    flex-direction: column;
                    .covid__title{
                        height: 104px;
                        padding: 16px 40px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: space-between;
                        .covid__status{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            &__title{
                                position: relative;
                                span{
                                    margin-left: 30px;
                                    color: #fff;
                                    font-weight: 500;
                                }
                                &::after{
                                    @include after(20px,20px,url("../img/ico_siren.png"));
                                    left:0px;
                                    top:0;
                                }
                            }
                            &__content{
                                &__1{
                                    background: #ebc055;
                                    color: #09143e;
                                    padding: 12px;
                                    font-weight: 700;
                                    font-size: 17px;
                                }
                                &__2{
                                    background-color: #09143e;
                                    padding: 13px;
                                    position: relative;
                                    &:after{
                                        @include after(2px,16px,#fff);
                                        left: 50%;
                                        top: 14px;
                                    }
                                    span,em{
                                        font-weight: 500;
                                        font-size: 15px;
                                    }
                                    span{
                                        padding-left: 18px;
                                        position: relative;
                                        color: #fff;
                                        &::before{
                                            @include after(14px,14px,none);
                                            left: 0;                                            
                                            top: 0;
                                        }
                                        &:first-of-type{
                                            margin-right: 30px;
                                            &:before{
                                                @include background("location.png")
                                            }
                                        }
                                        &:last-of-type{
                                            &:before{
                                                @include background("airplane.png")
                                            }
                                        }
                                        em{
                                            display: inline;
                                            padding-left: 8px;
                                            color: #ebc055;
                                            font-style: normal;
                                        }
                                    }
                                }
                                &__3{
                                    background: #40d6e9;
                                    color: #09143e;
                                    padding: 12px;
                                    font-weight: 700;
                                    font-size: 17px;
                                    margin-left: 10px;
                                }
                                &__4{
                                    background-color: #09143e;
                                    color:#40d6e9;
                                    padding: 13px;
                                    font-weight: 500;
                                    font-size: 15px;
                                }
                            }
                        }
                        .covid__date{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-end;
                            text-align: right;
                            p{
                                color: #fff;
                                font-weight: 500;
                            }
                            a{  
                                width: 230px;
                                height: 30px;
                                padding: 3px 10px;
                                box-sizing: border-box;
                                background: #162149;
                                color: #fff;
                                font-size: 13px;
                                line-height: 21px;
                                font-weight: 500;
                                position: relative;
                                &:after{
                                    @include after(17px,17px,none);
                                    @include background("rok.png");
                                    left: 5px;
                                    top: 5px;
                                }
                            }
                        }
                    }
                    .covid__tab{
                        width: 100%;
                        height: 806px;
                        background: #09153f;
                        border-radius: 15px 15px 0 0;
                        overflow: hidden;
                        &__menu{
                            width: 100%;
                            display: flex;
                            overflow: hidden;
                            background: #213365;
                            li{
                                width: 50%;
                                height: 52px;
                                border-top: 2px solid #95b3d7;
                                color: #fff;
                                border-radius: 15px 15px 0 0;
                                font-size: 17px;
                                font-weight: 500;
                                background: #09153f;
                                line-height: 52px;
                                text-align: center;
                                cursor: pointer;
                                &:last-of-type{
                                    background: #2c3d6c;
                                    border-top: none;
                                }
                            }
                        }
                        &__contents{
                            background: #060f2c;
                            width: 1132px;
                            height: 535px;
                            margin: 30px 34px;
                            padding: 20px;
                            border-radius: 10px;
                            box-sizing: border-box;
                            img{
                                width: 100%;
                            }
                        }
                        &__info{
                            width: 1132px;
                            margin: 0 auto;
                            display: flex;
                            justify-content: space-between;
                            li{
                                cursor: pointer;
                            }
                        }
                    }
                    .covid__newsroom{
                        width: 100%;
                        height: 280px;
                        &__list{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            >li{
                                width: 30%;
                                height: 100%;
                                &:first-of-type{
                                    width: 38%;
                                }
                            }
                            &__1{
                                padding: 30px 0 30px 20px;
                                box-sizing: border-box;
                                &__title{
                                    display: flex;
                                    justify-content: space-between;
                                    h2{
                                        font-size: 22px;
                                        color: #FFF;
                                    }
                                    >span{
                                        color: #aaa;
                                        font-size: 14px;
                                        font-weight: 400;
                                        cursor: pointer;
                                    }
                                }
                                &__box{
                                    margin-top: 20px;
                                    padding: 15px;
                                    border-radius: 8px;
                                    background: #fff;
                                    ul{
                                        li{
                                            a{
                                                padding: 7px 0;
                                                text-overflow: ellipsis;
                                                font-size: 15px;
                                            }
                                            &:first-of-type{
                                                font-weight: 500;
                                            }
                                            &:nth-of-type(3){
                                                font-weight: 500;
                                            }
                                        }
                                    }
                                }
                            }
                            &__2{
                                p{
                                    width: 320px;
                                    margin: 72px auto 0;
                                    position: relative;
                                    &:after{
                                        @include after(100%,100%,none);
                                        left: 0;
                                        top: 0;
                                        @include background("LKGFMQLUYB158382236999122.png");
                                        cursor: pointer;
                                    }
                                    img{
                                        width: 100%;
                                    }
                                }
                            }
                            &__3{
                                padding: 30px 0 ;
                                box-sizing: border-box;
                                &__title{
                                    display: flex;
                                    justify-content: space-between;
                                    h2{
                                        font-size: 22px;
                                        color: #FFF;
                                    }
                                    >span{
                                        color: #aaa;
                                        font-size: 14px;
                                        font-weight: 400;
                                        cursor: pointer;
                                    }
                                }
                                &__box{
                                    margin-top: 20px;
                                    padding: 15px;
                                    border-radius: 8px;
                                    background: #fff;
                                    ul{
                                        li{
                                            a{
                                                padding: 7px 0;
                                                text-overflow: ellipsis;
                                                font-size: 15px;
                                            }
                                            &:first-of-type{
                                                font-weight: 500;
                                            }
                                            &:nth-of-type(4){
                                                font-weight: 500;
                                            }
                                        }
                                    }
                                }   
                            }
                        }
                    }

                }
            }
        }
        &.page2{
            background: #2e3961;

        }
        &.page3{
            background: #4c64bb;

        }
        &.page4{
            background: #425cbb;

        }
        &.page5{
            background: #223474;

        }
        &.page6{
            background: #071238;

        }
    }
}
.footer{
    &__gnb{
        width: 100%;
        height: 301px;
        padding: 50px 0;
        box-sizing: border-box;
        background: #222433;
        border-top: 1px solid #7c7c7c;
        border-bottom: 1px solid #7c7c7c;
        .gnb__depth1{
            width: 1280px;
            margin: 0 auto;
            padding: 0 50px;
            box-sizing: border-box;
            display: flex;
            >li{
                width: 20%;
                display: flex;
                flex-direction: column;
                h3{
                    width: 150px;
                    display: inline-block;
                    margin: 0 auto;
                    font-size: 18px;
                    color: #fff;
                    a{
                        width: 150px;
                        display: inline-block;
                        margin: 12px auto 0;
                        font-size: 16px;
                        color: #fff;
                    }
                }
                .gnb__depth2{
                    width: 150px;
                    display: inline-block;
                    margin: 10px auto 0;
                    li{
                        padding: 3px 0;
                        a{
                            font-size: 12px;
                            color: #cfcfd0;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    &__contact{
        width: 100%;
        height: 280px;
        padding: 60px 40px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #282828;
        &__sns{
            width: 340px;
            display: flex;
            flex-direction: column;
            &__list{
                width: 160px;
                display: flex;
                justify-content: space-around;
                li{
                    width: 20px;
                    height: 20px;
                    background-image: url("../img/footer_sns.png");
                    background-repeat: no-repeat;
                    background-position: left 0;
                    opacity: .2;
                    &:hover{
                        opacity: 1;
                    }
                    &:nth-of-type(2){
                        background-position: left -20px;
                    }
                    &:nth-of-type(3){
                        background-position: left -40px;
                    }
                    &:nth-of-type(4){
                        background-position: left -60px;
                    }
                    &:nth-of-type(5){
                        background-position: left -80px;
                    }
                }
            }
        }
        &__info{
            width: 470px;
        }
        &__menu{
            width: 50%;
        }
    }
    &__copyright p{
        width: 100%;
        height: 30px;
        padding: 10px 0;
        background: #212121;
        text-align: center;
        color: #959595;
        line-height: 30px;
        font-size: 12px;
    }
}
.navigation{
    height: 100px;
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__prev{
        width: 26px;
        height: 15px;
        a{
            width: 100%;
            height: 100%;
            background: url("../img/page_navigator.png") no-repeat left top;
            &:hover{
                background: url("../img/page_navigator.png") no-repeat right top;
            }
        }
        &.page_start{
            visibility: hidden;
        }
    }
    &__num{
        width: 55px;
        display: flex;
        justify-content: space-between;
        span{
            color: #fff;
            font-size: 22px;
            font-weight: 400;
        }
        &__page{
            text-shadow: 2px 2px 1px #000;
        }
        &__slash{
            opacity: .2;
        }
        &__total{
            opacity: .2;
        }
    }
    &__next{
        width: 26px;
        height: 15px;
        a{
            width: 100%;
            height: 100%;
            background: url("../img/page_navigator.png") no-repeat left bottom;
            &:hover{
                background: url("../img/page_navigator.png") no-repeat right bottom;
            }
        }
        &.page_end{
            visibility: hidden;
        }
    }
}